 *{
    margin: 0px;
    padding: 0px;
 }
 .nav{
    background-color: hsl(97.44deg 64.25% 40.59%);
 }
 .nav a{
    color: white;
 }
 
 #nav_links a{
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    border-bottom: 1px solid black;
 }
 #nav_links li:hover a{
    transition: 0.3s;
    color: rgb(145, 241, 0);
    border-bottom: 1px solid white;
 }

 .bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.541)) , url("../image/banner.jpeg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center ;
 }
 .bg_content{
    text-transform: capitalize;
    color: white;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hov_btn button{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    color: white;
    text-transform: capitalize;
    background-color: transparent;
    border-radius: 20px;
    transition: 0.3s;
    width: 150px;
 }
 .hov_btn button:hover{
background-color: hsl(97.44deg 64.25% 40.59%);
 }
 .margin{
    margin-top: 3rem;
    margin-bottom: 3rem;
 }
 .about_btn button{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    color: white;
    text-transform: capitalize;
    background-color: black;
    border-radius: 20px;
    transition: 0.3s;
    width: 150px;
    transform: translateY(0px);
 }
 .about_btn button:hover{
    border: 1px solid rgb(45, 117, 3);
    background-color: green;
    transform: translateY(-5px);
box-shadow: 12px 12px 12px rgb(196, 192, 192);
 }
 .heading{
    color: #25ac34;
    font-weight: 400 !important;
 }
 .icon_box{
     
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #25ac34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .cards{
    text-align: center;
 }
 .cards h4{
    margin-top: 20px;
 }
 .contact_pera{
    color: white;
     background-color: #25ac34;
 }
 .btn_contact button{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: white;
    text-transform: capitalize;
    background-color: black;
    border-radius: 20px;
    transition: 0.3s;
    width: 150px;
    transform: translateY(0px);
 }
.foot_icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    color: white;
    background-color: #000000;
}








/* responsive for mobile */
@media screen and (max-width:576px) {
   #footer{
    padding: 10px !important;
   } 
#cont_padding{
   padding: 10px !important;

}
}